---
// import Logo from '@components/Logo.astro';
import '../styles/nav-animations.css';
---

<div class="w-full shadow-navbarShadow h-20 lg:h-[12vh] sticky top-0 px-4">
	<div class="max-w-container h-full mx-auto py-1 flex items-center justify-between">
		<div class="image px-4 py-2 rounded-md text-Text border border-Love duration-300">Image</div>
		<div class="hidden mdl:inline-flex items-center gap-7">
			<div class="nav-links">
				<ul class="flex gap-7">
					<li class="flex px-2 py-2 items-center gap-1 cursor-pointer duration-300 nav-link">Home</li>
					<li class="flex px-2 py-2 items-center gap-1 cursor-pointer duration-300 nav-link">About</li>
					<li class="flex px-2 py-2 items-center gap-1 cursor-pointer duration-300 nav-link">Experience</li>
					<li class="flex px-2 py-2 items-center gap-1 cursor-pointer duration-300 nav-link">Projects</li>
					<li class="flex px-2 py-2 items-center gap-1 cursor-pointer duration-300 nav-link">Contact</li>
				</ul>
			</div>
			<button class="resumeButton px-4 py-2 rounded-md text-Text border border-Foam duration-300">Resume</button>
		</div>
	</div>
</div>
